@model Virtual_Wallet.Models.ViewModels.UserProfileUpdate.UserProfileViewModel
@{
    string userImage = Context.Session.GetString("UserImage");
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Orbitron&display=swap" rel="stylesheet">

<div class="container">
    <h1 class="text-center mb-4" style="font-family: 'Lilita One' , cursive;">My Account</h1>

    <div class="d-flex justify-content-center mb-4">
        <div class="profile-picture">
            <img src="@Url.Content("~/" + userImage)" class="rounded-circle" alt="Avatar" style="width: 150px; height: 150px; object-fit: cover;">
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <a href="@Url.Action("UpdateProfilePicture", "Users")" class="button-41 mb-4" role="button">Update Profile Picture</a>
    </div>
</div>

    <div class="row">
        <!-- Username -->
        <div class="col-12">
        <div class="card mb-3 bg-light box-shadow">
                <div class="card-body d-flex flex-column justify-content-center align-items-center" style="min-height: 100px;">
                    <h5 class="card-title"><i class="fas fa-user"></i> Username</h5>
                    <p class="card-text">@Model.Username</p>
                </div>
            </div>
        </div>
        <p></p>
        <!-- Email and Phone -->
        <div class="col-md-6">
            <div class="card mb-3 bg-light shadow">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                    <h5 class="card-title" style="font-family: 'Dancing Script', cursive;"><i class="fas fa-envelope"></i> Email</h5>
                        <p class="card-text">@Model.Email</p>
                    </div>
                <a href="@Url.Action("UpdateEmail", "Users")" class="button-43" role="button">Edit</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3 bg-light shadow">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                    <h5 class="card-title" style="font-family: 'Dancing Script', cursive;"><i class="fas fa-phone-alt"></i> Phone Number</h5>
                        <p class="card-text">@Model.PhoneNumber</p>
                    </div>
                <a href="@Url.Action("UpdatePhone", "Users")" class="button-43" role="button">Edit</a>
                </div>
            </div>
        </div>

        <!-- First name and Last name -->
        <div class="col-6">
            <div class="card mb-3 bg-light shadow">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                    <h5 class="card-title" style="font-family: 'Dancing Script', cursive;"><i class="fas fa-file-signature"></i> First Name</h5>
                        <p class="card-text">@Model.FirstName</p>
                    </div>
                <a href="@Url.Action("UpdateFirstName", "Users")" class="button-43" role="button">Edit</a>
                </div>
            </div>
        </div>

        <!-- Last Name -->
        <div class="col-6">
            <div class="card mb-3 bg-light shadow">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                    <h5 class="card-title" style="font-family: 'Dancing Script', cursive;"><i class="fas fa-file-signature"></i> Last Name</h5>
                        <p class="card-text">@Model.LastName</p>
                    </div>
                <a href="@Url.Action("UpdateLastName", "Users")" class="button-43" role="button">Edit</a>
                </div>
            </div>
        </div>

        <!-- Password -->
        <div class="col-12">
            <div class="card mb-3 bg-light shadow">
                <div class="card-body d-flex flex-column justify-content-center align-items-center" style="min-height: 100px;">
                <h5 class="card-title" style="font-family: 'Dancing Script', cursive;"><i class="fas fa-unlock-alt"></i> Password</h5>
                <p class="card-text"><a href="@Url.Action("UpdatePassword", "Users")" class="button-42" role="button">Change Password</a></p>
                </div>
            </div>
        </div>
    </div>
<style>
    .box-shadow {
        box-shadow: rgb(38, 121, 150) 3px 3px 20px, rgb(32, 111, 140) -2px 1px 30px;
    }
</style>