@using Virtual_Wallet.Models.ViewModels;
@model PaginatedTransactionViewModel

<link rel="stylesheet" href="~/css/tableStyles.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<section>
	<h1>@this.ViewData["NameOfList"]</h1>
	<button onclick="myFunction('Demo5')" class="w3-button w3-block w3-theme-l1 w3-left-align">
		<i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Search Options:
	</button>
	<div id="Demo5" class="w3-hide w3-container">
		<form asp-action="@this.ViewData["PageName"]" asp-controller="Transactions" method="get" class="mb-3">
			<div class="form-check">
				<input type="checkbox" class="form-check-input" name="AllMyTransactions" value="true" />
				<label class="form-check-label">All My Transactions</label>
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input" name="Sender" value="true" />
				<label class="form-check-label">Sender</label>
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input" name="Reciever" value="true" />
				<label class="form-check-label">Reciever</label>
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input" name="Withdrawl" value="true" />
				<label class="form-check-label">Withdrawl</label>
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input" name="DepositToWallet" value="true" />
				<label class="form-check-label">DepositToWallet</label>
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input" name="TransferToUser" value="true" />
				<label class="form-check-label">TransferToUser</label>
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input" name="FilterByDate" value="true" />
				<label class="form-check-label">FilterByDate (format dd-MM-yyyy or MM-yyyy)</label>
			</div>
			<div class="d-flex align-items-center">
				<input type="text" class="form-control" name="search" placeholder="Search transaction ..." />
				<button type="submit" class="btn btn-primary ml-2">Search</button>
			</div>
		</form>
	</div>

	<div class="tbl-header">
		<table cellpadding="0" cellspacing="0" border="0">
			<thead>
				<tr>
					<th>Date</th>
					<th>Amount</th>
					<th class="w3-hide-small">Type</th>
					<th class="w3-hide-small">Description</th>
					<th class="w3-hide-small">Sender</th>
					<th>More</th>
				</tr>
			</thead>
		</table>
	</div>

	<div class="tbl-content">
		<table cellpadding="0" cellspacing="0" border="0">
			<tbody>
				@if (this.Model.TansactionsShow.Count < 1)
				{
					<tr>
						<td colspan="6" class="w3-opacity w3-padding">No Transactions to show</td>
					</tr>
				}
				else
				{
					@foreach (var transaction in this.Model.TansactionsShow)
					{
						<tr>
							<td>@transaction.Date</td>
							<td>@($"{transaction.Amount:f2}")</td>
							<td class="w3-hide-small">@transaction.TransactionType</td>
							<td>@(transaction.Description.Length > 12 ? transaction.Description.Substring(0, 12) : transaction.Description)</td>
							<td class="w3-hide-small">@transaction.Sender.Username</td>
							<td>
								<a asp-controller="Transactions" asp-action="Details" asp-route-id="@transaction.Id" class="w3-badge w3-small w3-theme-d2 w3-hover-blue-gray">
									<i class="fa fa-info">&nbsp;Details</i>
								</a>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>

	<div class="d-flex justify-content-center">
		<form asp-action="@this.ViewData["PageName"]" asp-controller="Transactions" method="get" class="d-inline">
			<input type="hidden" name="page" value="@(Model.CurrentPages - 1)" />
			<input type="hidden" name="search" value="@Model.Search" />
			<input type="hidden" name="AllMyTransactions" value="@Context.Request.Query["AllMyTransactions"]" />
			<input type="hidden" name="Sender" value="@Context.Request.Query["Sender"]" />
			<input type="hidden" name="Reciever" value="@Context.Request.Query["Reciever"]" />
			<input type="hidden" name="Withdrawl" value="@Context.Request.Query["Withdrawl"]" />
			<input type="hidden" name="DepositToWallet" value="@Context.Request.Query["DepositToWallet"]" />
			<input type="hidden" name="TransferToUser" value="@Context.Request.Query["TransferToUser"]" />
			<input type="hidden" name="FilterByDate" value="@Context.Request.Query["FilterByDate"]" />
			<button type="submit" class="btn btn-secondary" @(Model.ShowPrevious ? "" : "disabled")>
				<i class="fas fa-arrow-left"></i>
			</button>
		</form>

		<span class="mx-3">Page @Model.CurrentPages of @Model.Pages</span>

		<form asp-action="@this.ViewData["PageName"]" asp-controller="Transactions" method="get" class="d-inline">
			<input type="hidden" name="page" value="@(Model.CurrentPages + 1)" />
			<input type="hidden" name="search" value="@Model.Search" />
			<input type="hidden" name="AllMyTransactions" value="@Context.Request.Query["AllMyTransactions"]" />
			<input type="hidden" name="Sender" value="@Context.Request.Query["Sender"]" />
			<input type="hidden" name="Reciever" value="@Context.Request.Query["Reciever"]" />
			<input type="hidden" name="Withdrawl" value="@Context.Request.Query["Withdrawl"]" />
			<input type="hidden" name="DepositToWallet" value="@Context.Request.Query["DepositToWallet"]" />
			<input type="hidden" name="TransferToUser" value="@Context.Request.Query["TransferToUser"]" />
			<input type="hidden" name="FilterByDate" value="@Context.Request.Query["FilterByDate"]" />
			<button type="submit" class="btn btn-secondary" @(Model.ShowNext ? "" : "disabled")>
				<i class="fas fa-arrow-right"></i>
			</button>
		</form>
	</div>
</section>