@model Virtual_Wallet.Models.ViewModels.MakeWalletTransactionViewModel

@{
	this.ViewData["PageTitle"] = "Create Transfer";
	this.ViewData["TextForCard"] = "From Card";
}
@if (ViewData["ValidationErrors"] != null)
{
	<div class="alert alert-danger">
		<ul>
			@foreach (var error in (IEnumerable<string>)ViewData["ValidationErrors"])
			{
				<li>@error</li>
			}
		</ul>
	</div>
}
<link rel="stylesheet" href="~/css/PopUpStyle.css" asp-append-version="true" />

<div class="w3-container w3-white w3-padding-32">
	<h1 class="w3-center">@this.ViewData["PageTitle"]</h1>
	<hr style="width:100%; text-align:center; margin: 0 auto 50px;">
	<form asp-controller="Transactions" asp-action="CreateTransfer" method="post" onsubmit="return confirmSave();">
		<div>
			<div>
				<div>
					<table class="table table-borderless">
						<tbody>
							<tr>
								<td>You have selected recipient:</td>
								<td><b>@Model.RecipientUsername</b></td>
								@{
									if (ViewData["ErrorMessage"] != null)
									{
										<span style="color: Red">@ViewData["ErrorMessage"] Can't send money to yourself!</span>
									}
								}
							</tr>
						</tbody>
					</table>
				</div>
				<input type="hidden" asp-for="RecipientUsername" class="w3-opacity" value="@Model.RecipientUsername"><br />
			</div>
			<div>
				<label asp-for="Amount" class="w3-opacity">Send Amount</label><br />
				<span asp-validation-for="Amount" class="form-error" style="color: Red"></span>
				<input asp-for="Amount" type="text" class="w3-border w3-padding w3-input" /><br />
			</div>
			<div>
				<label asp-for="Description" class="w3-opacity"></label><br />
				<span asp-validation-for="Description" class="form-error" style="color: Red"></span>
				<textarea asp-for="Description" class="w3-border w3-padding w3-input w3-auto form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
			</div>

			<div>
				<input type="submit" value="Save" class="w3-button w3-theme w3-margin-top w3-round" />
				<a asp-controller="Transactions" asp-action="SelectRecipient" class="w3-button w3-theme w3-margin-top w3-round">Back</a>
			</div>

		</div>

	</form>
</div>

<div id="customPopup" class="custom-popup ">
	<div class="popup-content">
		<i class="fa fa-question-circle fa-5x" aria-hidden="true"></i>
		<hr />
		<p>Are you sure you want to make the transaction?</p><hr />
		<p class="w3-opacity">This action cannot be undone.</p>
		<button id="confirmButton" class="btn btn-success w3-round">Confirm</button>
		<button id="cancelButton" class="btn btn-danger w3-round">Cancel</button>
	</div>
</div>

<script>
	const customPopup = document.getElementById('customPopup');
	const confirmButton = document.getElementById('confirmButton');
	const cancelButton = document.getElementById('cancelButton');

	function showCustomPopup() {
		customPopup.style.display = 'block';
	}

	function hideCustomPopup() {
		customPopup.style.display = 'none';
	}

	confirmButton.addEventListener('click', function () {
		document.querySelector('form').submit();
	});

	cancelButton.addEventListener('click', hideCustomPopup);

	document.querySelector('form').addEventListener('submit', function (e) {
		e.preventDefault();
		showCustomPopup();
	});
</script>