@using Virtual_Wallet.Models.ViewModels;
@using Virtual_Wallet.VirtualWallet.API.Models.Dtos;
@using Virtual_Wallet.VirtualWallet.Domain.Entities;

@model WalletViewModel;
@{
	string previousUrl = Context.Request.Headers["Referer"];
}

<link rel="stylesheet" href="~/css/PopUpStyle.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="position: relative;">
	<h4>Wallet details:</h4>
	<hr />
	<div class="container">
		<table class="table table-borderless">
			<thead>
				<tr>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>User:</td>
					<td><b>@this.Model.Username</b></td>
				</tr>
				<tr>
					<td>Ballance:</td>
					<td><b>@($"{this.Model.Ballance:f2}")</b>&nbsp;<b>@($"{this.Model.CurrencyCode}")</b></i></td>
				</tr>
				<tr>
					<td>Currency:</td>
					<td><b>@this.Model.CurrencyDescription</b></i></td>
				</tr>
			</tbody>
		</table>
	</div>
	@if (previousUrl.Contains("ShowAllWallets"))
	{
		<a asp-controller="Wallets" asp-action="ShowAllWallets" class="w3-button w3-theme-d2 w3-margin-bottom w3-round" title="Back">Back</a>
	}
	else
	{
		<a asp-controller="Wallets" asp-action="Index" class="w3-button w3-theme-d2 w3-margin-bottom w3-round" title="Back">Back</a>
	}
	<div style="position: absolute; bottom: 16px; right: 0;">
		<a asp-controller="Wallets" asp-action="UpdateWallet" asp-route-id="@this.Model.Id" class="w3-button w3-theme-d2 w3-round" style="background-color:darkorange !important;" title="Update Wallet">Update Wallet</a>
		<a asp-controller="Wallets" asp-action="RemoveWallet" asp-route-id="@this.Model.Id" class="w3-button w3-theme-d2 w3-round remove-card-button" style="background-color:darkred !important;" title="Remove Wallet">Remove Wallet</a>
	</div>
</div>

<div id="customPopup" class="custom-popup ">
	<div class="popup-content">
		<i class="fa fa-question-circle-o fa-5x" aria-hidden="true"></i>
		<hr />
		<p>Are you sure you want to delete the wallet?</p><hr />
		<p class="w3-opacity">This action cannot be undone.</p>
		<button id="confirmButton" class="btn btn-success w3-round">Confirm</button>
		<button id="cancelButton" class="btn btn-danger w3-round">Cancel</button>
	</div>
</div>

<script>
	const customPopup = document.getElementById('customPopup');
	const confirmButton = document.getElementById('confirmButton');
	const cancelButton = document.getElementById('cancelButton');
	const removeCardButton = document.querySelector('.remove-card-button');

	function showCustomPopup() {
		customPopup.style.display = 'block';
	}

	function hideCustomPopup() {
		customPopup.style.display = 'none';
	}

	confirmButton.addEventListener('click', function () {
		hideCustomPopup();
		window.location.href = removeCardButton.getAttribute('href');
	});

	cancelButton.addEventListener('click', hideCustomPopup);

	removeCardButton.addEventListener('click', function (e) {
		e.preventDefault();
		showCustomPopup();
	});
</script>

