@using Virtual_Wallet.Models.ViewModels;
@using Virtual_Wallet.VirtualWallet.API.Models.Dtos;
@using Virtual_Wallet.VirtualWallet.Domain.Entities;
@model PaginatedWalletsViewModel;

<link rel="stylesheet" href="~/css/tableStyles.css" asp-append-version="true" />

<section>
	<h1>Wallets</h1>
	<form asp-action="ShowAllWallets" asp-controller="Wallets" method="get" class="mb-3">
		<div class="d-flex align-items-center">
			<input type="text" class="form-control" name="search" placeholder="Search wallets by owner..." />
			<button type="submit" class="btn btn-primary ml-2">Search</button>
		</div>
	</form>
	<div class="tbl-header">
		<table cellpadding="0" cellspacing="0" border="0">
			<thead>
				<tr>
					<th>Owner</th>
					<th class="w3-hide-small">Wallet Ballance</th>
					<th class="w3-hide-small">Currency</th>
					<th>More</th>
				</tr>
			</thead>
		</table>
	</div>
	<div class="tbl-content" style=" width: 100%">
		<table cellpadding="0" cellspacing="0" border="0">
			<tbody>
				@{
					if (this.Model.WalletsShow.Count < 1)
					{
						<p class="w3-opacity w3-padding">No Wallets to show</p>
					}
					foreach (var wallet in this.Model.WalletsShow)
					{
						<tr>
							<td>@wallet.Username</td>
							<td>@wallet.Ballance</td>
							<td class="w3-hide-small">@wallet.CurrencyCode</td>
							<td>
								<a asp-controller="Wallets" asp-action="Details" , asp-route-id="@wallet.Id" class="w3-badge w3-small w3-theme-d2 w3-hover-blue-gray">
									<i class="fa fa-info">&nbsp;Details</i>
								</a>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>

	<div class="d-flex justify-content-center w3-padding-top-48">
		<form asp-action="ShowAllWallets" asp-controller="Wallets" method="get" class="d-inline">
			<input type="hidden" name="pageNumber" value="@(Model.PageNumber - 1)" />
			<input type="hidden" name="search" value="@Model.Search" />
			<button type="submit" class="btn btn-secondary" @(Model.ShowPrevious ? "" : "disabled")>
				<i class="fas fa-arrow-left"></i>
			</button>
		</form>
		@{
			if (Model.TotalPages == 0)
			{
				<span class="mx-3">Page @Model.PageNumber of 1</span>
			}
			else
			{
				<span class="mx-3">Page @Model.PageNumber of @Model.TotalPages</span>
			}
		}
		<form asp-action="ShowAllWallets" asp-controller="Wallets" method="get" class="d-inline">
			<input type="hidden" name="pageNumber" value="@(Model.PageNumber + 1)" />
			<input type="hidden" name="search" value="@Model.Search" />
			<button type="submit" class="btn btn-secondary" @(Model.ShowNext ? "" : "disabled")>
				<i class="fas fa-arrow-right"></i>
			</button>
		</form>
	</div>

</section>
