@{
	var isOnWelcomeRoute = ViewContext.RouteData.Values["controller"].ToString().Equals("Home") && ViewContext.RouteData.Values["action"].ToString().Equals("Welcomepage");
	var divClass = (isOnWelcomeRoute ? " " : "w3-card-4 w3-round-large w3-white w3-border-khaki w3-container w3-border w3-round-xlarge");
}
@{
	string username = "";
	string userImage = "";
	string walletBalance = "";
	string walletCurrency = "";
	var isLogged = Context.Session.Keys.Contains("LoggedUser");
	if (isLogged)
	{
		username = Context.Session.GetString("LoggedUser");
		userImage = Context.Session.GetString("UserImage");
		walletBalance = Context.Session.GetString("WalletBalance");
		walletCurrency = Context.Session.GetString("WalletCurrency");
	}
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MaxKashMate</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Virtual_Wallet.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

	<style>
		html, body, h1, h2, h3, h4, h5 {
			font-family: "Open Sans", sans-serif
		}

		.w3-white, .w3-hover-khaki:hover {
			color: #000 !important;
			background-color: #e7eeed !important
		}

		.w3-border-khaki, .w3-hover-border-khaki:hover, .w3-hover-us:hover {
			border-color: #194759 !important
		}
	</style>
	<style>
		div.sticky {
			position: -webkit-sticky;
			position: sticky;
			top: 103px;
		}
	</style>
</head>

<body class="w3-theme-l5">
	<!-- Navbar -->
	<div class="w3-top">
		<div class="w3-bar w3-theme-d2 w3-left-align w3-large w3-round w3-card-2">
			<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()">
				<i class="fa fa-bars"></i>
			</a>
			<a asp-action="Index" asp-controller="Home" class="w3-bar-item w3-hover-shadow:hover" title="Home">
				<img src="~/images/common/logo2.png" class="rounded-circle w3-hover-light-blue" alt="Logo" style="width: 50px; height: 50px; object-fit: cover;" />
			</a>

			@if (!string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("LoggedUser")))
			{
				<a href="/swagger" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Swagger">
					<i class="fa fa-share-square" aria-hidden="true"></i>
				</a>
				<a asp-action="Privacy" asp-controller="Home" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Privacy">
					<i class="fa fa-book" aria-hidden="true"></i>
				</a>
				<a asp-action="Logout" asp-controller="Users" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-red" title="Logout">
					<i class="fas fa-sign-out-alt"></i>	Logout
				</a>
				<a asp-action="Profile" asp-controller="Users" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
					<i class="fas fa-user-circle"></i> My Account
				</a>
				@if (Context.Request.HttpContext.Session.GetString("IsAdmin") == "True")
				{
					<a asp-action="Dashboard" asp-controller="Admins" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-blue" title="Dashboard">
						<i class="fas fa-user-shield"></i> Dashboard
					</a>
				}
			}
			else
			{
				<a asp-controller="Users" asp-action="Register" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-green" title="Register">
					<i class="fas fa-user-plus"></i> Register
				</a>
				<a asp-controller="Users" asp-action="Login" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Login">
					<i class="fas fa-sign-in-alt"></i> Login
				</a>
			}
		</div>
	</div>

	<!-- Navbar on small screens -->
	<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
		<a asp-controller="Users" asp-action="Register" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
		<a asp-controller="Users" asp-action="Login" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
	</div>

	<div class="w3-container w3-content" style="max-width:1200px;margin-top:80px;margin-bottom:100px">
		<div class="w3-row">
			<!-- Left Column -->
			<div class="w3-col m3" @(string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("LoggedUser")) ? "style=display:none;" : "")>
				<div class="w3-card w3-round-large w3-white w3-border">
					<div class="w3-container" @(string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("LoggedUser")) ? "style=display:none;" : "")>
						<h4 class="w3-center">Hello, @username!</h4>
						<p class="w3-center"><img src="@Url.Content("~/" + userImage)" class="rounded-circle" alt="Avatar" style="width: 100px; height: 100px; object-fit: cover;"></p>
						<hr>
						<p>
							<a asp-controller="Cards" asp-action="Index"
							   class="fa fa-credit-card w3-button w3-theme-d1 w3-margin-bottom w3-round-large w3-card-4"
							   style="width:100%; border:1px solid black">&emsp;My Cards</a>
						</p>
						@if (Context.Request.HttpContext.Session.GetString("IsAdmin") == "True")
						{
							<p>
								<a asp-controller="Cards" asp-action="ShowAllCards"
								   class="fa w3-button w3-theme-d1 w3-margin-bottom w3-round-large w3-card-4"
								   style="width:100%; border:1px solid black">All Cards</a>
							</p>
						}

						<p>
							<a asp-controller="Wallets" asp-action="Index"
							   class="fa fa-wallet w3-button w3-theme-d1 w3-margin-bottom w3-round-large w3-card-4"
							   style="width:100%; border:1px solid black">&emsp;My Wallet</a>
						</p>

						@if (Context.Request.HttpContext.Session.GetString("IsAdmin") == "True")
						{
							<p>
								<a asp-controller="Wallets" asp-action="ShowAllWallets"
								   class="fa w3-button w3-theme-d1 w3-margin-bottom w3-round-large w3-card-4"
								   style="width:100%; border:1px solid black">All Wallets</a>
							</p>
						}
					</div>

					<div class="w3-container" @(!string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("LoggedUser")) ? "style=display:none;" : "")>
						<h4 class="w3-center">Hello</h4>
						<hr>
						<p>Please Login or regisster</p>
					</div>
				</div>
				<br>

				<div class="w3-card w3-round" @(string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("LoggedUser")) ? "style=display:none;" : "")>
					<div class="w3-white">
						<button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align">
							<i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> Transactions Info</button>
						<div id="Demo2" class="w3-hide w3-container">
							<div class="w3-row-padding">
								<br>
								<p>
									<a asp-controller="Transactions" asp-action="Index" 
										class="w3-button w3-theme-d1 w3-margin-bottom w3-round-large w3-card-4" 
											style="width:100%; border:1px solid black">My Transactions</a>
								</p>
								@if (Context.Request.HttpContext.Session.GetString("IsAdmin") == "True")
								{
									<p>
										<a asp-controller="Transactions" asp-action="ShowAllTransactions" 
											class="w3-button w3-theme-d1 w3-margin-bottom w3-round-large w3-card-4" 
											style="width:100%; border:1px solid black">All Transactions</a>
									</p>
								}
								<br>
							</div>
						</div>
						<button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align">
							<i class="fa fa-cubes w3-margin-right" aria-hidden="true"></i> Make Transaction</button>
						<div id="Demo3" class="w3-hide w3-container">
							<div class="w3-row-padding">
								<br>
								<p>
									<a asp-controller="Transactions" asp-action="SelectRecipient" 
										class="w3-button w3-theme-d1 w3-margin-bottom w3-round-large w3-card-4" 
										style="width:100%; border:1px solid black">Transfer</a>
								</p>
								<p>
									<a asp-controller="Transactions" asp-action="CreateDeposit" 
										class="w3-button w3-theme-d1 w3-margin-bottom w3-round-large w3-card-4" 
										style="width:100%; border:1px solid black">Deposit</a>
								</p>
								<p>
									<a asp-controller="Transactions" asp-action="CreateWithdraw" 
										class="w3-button w3-theme-d1 w3-margin-bottom w3-round-large w3-card-4" 
										style="width:100%; border:1px solid black">Withdraw</a>
								</p>
								<br>
							</div>
						</div>
					</div>
				</div>
				<br>

				<div class="w3-card w3-round-large w3-white w3-border" @(string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("LoggedUser")) ? "style=display:none;" : "")>
					<div class="w3-container w3-padding">
						<div><partial name="_Calendar" /></div>
					</div>
				</div>
				<br>
			</div>

			<div class="w3-col m7" @(string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("LoggedUser")) ? "style=width:100%;height:100%;" : "")>
				<div class="w3-row-padding">
					<div class="w3-col m12">
						<div class="@divClass">
							<div class="w3-container w3-padding">

								@RenderBody()

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="sticky w3-col m2" @(string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("LoggedUser")) ? "style=display:none;" : "")>
				<div class="w3-card w3-round-large w3-white w3-border">
					<div class="w3-container">
						<h4 class="w3-center">My Wallet</h4>
						<hr>
						<p><i class="fas fa-signature w3-text-theme"></i> Balance: @walletBalance </p>
						<p><i class="fa fa-line-chart fa-fw w3-text-theme"></i> Currency: @walletCurrency</p>

					</div>
				</div>
				<br>
				<div class="w3-card w3-round-large w3-white solid #194759 w3-padding" style="border:3px solid #194759">
					<div><partial name="_Converter" /></div>
				</div>
				<br>
			</div>
			<br>
		</div>
	</div>
	<br>

	<footer class="w3-theme-d5 w3-small w3-center" style="position: fixed; bottom: 0; width: 100%;">
		<div class="w3-card w3-round">
			<div class="w3-container">
				<p>
					<span class="w3-tag w3-small w3-theme-d5">Web Wallet created by</span><br />
					<span class="w3-tag w3-small w3-theme-d5">
						Team 12 - MilkoKostadinMila aka MKM Team * Alpha C# 47 *
						<a href=" https://www.telerikacademy.com/" target="_blank" class="w3-bar-item w3-round" title="Telerik Academy" style="text-decoration:none">
							Telerik Academy
						</a>
					</span>

				</p>
				<span class="w3-tag w3-small w3-theme-d4 w3-text-blue-grey w3-hover-light-gray">
					<a href="https://www.linkedin.com/in/mila-tsenkova-772534102" target="_blank" 
						class="w3-bar-item w3-round" title="Tsvetomila Tsenkova" style="text-decoration:none">
						Tsvetomila Tsenkova <i class="fa fa-linkedin-square" aria-hidden="true"></i>
						<img src="https://media.licdn.com/dms/image/D4D03AQH1uNgmZXWK4g/profile-displayphoto-shrink_400_400/0/1683886871197?e=1694649600&v=beta&t=_QrvCF1z817ohCVUkRjd7bo9Qkj_fxyn0qsMawEO0-w" 
							class="w3-circle" style="height:23px;width:23px" alt="Avatar">
					</a>
				</span>
				<span class="w3-tag w3-small w3-theme-d4 w3-text-blue-grey w3-hover-light-gray">
					<a href="https://www.linkedin.com/in/milko-tomov-a988971a2/" target="_blank" class="w3-bar-item w3-round" title="Milko Tomov" style="text-decoration:none">
						Milko Tomov <i class="fa fa-linkedin-square" aria-hidden="true"></i>
						<img src="https://media.licdn.com/dms/image/D4D03AQFo47ocbbJS4Q/profile-displayphoto-shrink_200_200/0/1688975218012?e=1694649600&v=beta&t=nOJXjHsM3zzr_c96xrbDO9nqAtINJrGhRAOEC-oUvMQ" 
							class="w3-circle" style="height:23px;width:23px" alt="Avatar">
					</a>
				</span>
				<span class="w3-tag w3-small w3-theme-d4 w3-text-blue-grey w3-hover-light-gray">
					<a href="https://www.linkedin.com/in/koci-palchev-68b116283/" target="_blank" class="w3-bar-item w3-round" title="Kostadin Palchev" style="text-decoration:none">
						Kostadin Palchev <i class="fa fa-linkedin-square" aria-hidden="true"></i>
						<img src="https://media.licdn.com/dms/image/D4E03AQFJLUtDwr-4wg/profile-displayphoto-shrink_200_200/0/1689423379191?e=1694649600&v=beta&t=LW0VujsvC17hlZ2sbBwLHq8RpVCW8C3XB7ZtCzkpQcQ" 
							class="w3-circle" style="height:23px;width:23px" alt="Avatar">
					</a>
				</span>
				<p>
					<span class="text-center">© 2023 July </span>
					<span class="w3-padding-small">Template is Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></span>
				</p>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" async defer></script>
	<script>
		function myFunction(id) {
			var x = document.getElementById(id);
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
				x.previousElementSibling.className += " w3-theme-d1";
			} else {
				x.className = x.className.replace("w3-show", "");
				x.previousElementSibling.className =
					x.previousElementSibling.className.replace(" w3-theme-d1", "");
			}
		}

		function openNav() {
			var x = document.getElementById("navDemo");
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
			} else {
				x.className = x.className.replace(" w3-show", "");
			}
		}
	</script>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
